server:
  port: 8099

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          routes:
            - id: catalog-service
              uri: lb://catalog-service
              predicates:
                - Path=/dev/movies/**

            - id: ratings-service
              uri: lb://ratings-service
              predicates:
                - Path=/dev/ratings/** 
                
            - id: recommendation-service
              uri: lb://recommendation-service
              predicates:
                - Path=/dev/recommendations/**
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/dev/auth/**


eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

security:
  jwt:
    secret: "99fb30f67cc30aecac63e9b0145802bc"
