{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: movielens-postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: {{ .Values.postgres.port }}
{{- end }}
